.app{
  display: flex;
  justify-content: center;
}

.pkm-dropdown{
  display:flex;
  justify-content: stretch;
}

.pkm-container{
  display: flex;
  flex-direction: column;
  margin: 50px 20px 0px;
}
